.idea
bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
nupkgs/
*.nupkg
*.snupkg
# Test artifacts
test-data/*.mid
# Benchmark results
BenchmarkDotNet.Artifacts/
# ANTLR debug files
.antlr/
*.interp
*.tokens
# Test scripts
*.csx
